* 
{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  
}

body 
{
	font-family: 'Consolas', serif;
  background-color: #fff;
  color: #000;
}

header 
{
	padding: 50px 15px 0px;
}

header h2 
{
	color: #000;
	font-size: 40px;
	font-weight: 400;
	text-align: center;
}

main 
{
	width: 100%;
	max-width: 80%;
	margin: 0 auto;
}

section 
{
	padding: 15px;
}

.searchbox 
{
	display: block;
	width: 40%;
	padding: 15px;
  margin: auto;
  background: none;
	background-color: #fff;
	color: #53565A;
	font-size: 18px;
	font-weight: 400;
	border: 1px solid black;
	outline: none;

}

.searchbox:focus
{
	border: 2px solid black;
}

.effects
{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.effects .effect
{
  display: flex;
	flex-direction: column;
	cursor: pointer;
	width: 100%;
  min-width: 20%;
  max-width: 20%;
	padding: 10px;
}

.effects .effect img
{
	display: block;
	width: 100%;
}

.effects .effect h3 
{
  background: #fff;
	flex: 1 1 100%;
  transition: 0.4s ease-out;
  border: 1px solid #000;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	padding: 10px;

}

.effects .effect:hover h3 
{
	background: #FFF;
	color: #000;
}

.info 
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	overflow-y: scroll;
}

.info .content 
{
	display: block;
	width: 100%;
	max-width: 80%;
	margin: 0 auto;
	padding: 25px;
  color: #000;
  border: 1px solid black;
}

.info .content h2 
{
	font-size: 28px;
  font-weight: 400;
  padding: 10px;
  border: 1px solid black;
  
}
.info .content h2 span
{
	font-weight: 300;
  font-size: 20px;
  
}

.info .content .rating 
{
  margin: 10px 0 10px 0;
  border: 1px solid black;
  padding: 10px;
}


.info .content .plot p 
{
	flex: 1 1 50%;
  padding: 15px;
  border: 1px solid black;
  margin-right: 15px;
}

.info .content .plot 
{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px 30px;
}

.info .content .plot img 
{
	flex: 1 1 50%;
	max-width: 30%;
	padding: 0px 15px;
}
.info .content .close
{
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 400;
  border: 1px solid #000;
  background: #fff;
  outline: none;
	appearance: none;
	cursor: pointer;
	color: #000;
}

.info .content .close:hover 
{
  border: 2px solid #000;
}
